<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- This component must issue the search result and link it to the by-country's search method -->
        <app-country-input (onEnter)="search( $event )"></app-country-input>
    </div>
</div>

<hr>

<div *ngIf="isError" class="alert alert-danger">
    Search doesn't return anything to the value: '{{ query }}'
</div>

<div *ngIf="!isError || countries.length > 0" class="row">
    <div class="col">
        <!-- This component must extract data from the compponent -->
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
